<!DOCTYPE html>
<html>
  <head>
    <title>PriceCheck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link rel="stylesheet" href="http://www.uptowncss.com/css/uptown.csss">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
